aside{
    padding-left: 30px !important;
    padding-top: 50px !important;
}

.active{
    background-color: lightgray;
}

.border{
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-width: 0.55px;
}

.border-round{
    
    border-radius: 4px;
}

.report-container{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.event{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.imagescontainer{
}

/* Submit freport*/

.container{
    width: 500px;
    height: 500px;
    /*
    border-style: solid;
    border-color: rgb(214, 162, 162);
    border-width: 0.55px;*/

    padding: 50px !important;
    margin-left: auto;
    margin-right: auto;

    position:relative;
}

.damage-type-card{
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-width: 0.55px;
    margin: 5px;
    border-radius: 4px;
}

.damage-types-container{
    margin-top: 30px;
    margin-bottom: 100px;
}

button{
    position:absolute;
    bottom:50px;
    right:50px;
    min-width: 100px;
}

.left-bottom-corner{
    position:absolute;
    bottom:50px;
    left:50px;
}

textarea {
    resize: none !important;
}

#holder { border: 10px dashed #ccc; width: 300px; min-height: 300px; margin: 20px auto;}
#holder.hover { border: 10px dashed #0c0; }
#holder img { display: block; margin: 10px auto; }
#holder p { margin: 10px; font-size: 14px; }
progress { width: 100%; }
progress:after { content: '%'; }
.fail { background: #c00; padding: 2px; color: #fff; }
.hidden { display: none !important;}
